html {
  background-color: white;
}

body {
  height: 100vh;
  background-color: bisque;
}

.menu {

}

.header_menu {

}

.logo {

}

.logo_dark {

}

.address {

}

.cover {

}

.cover__title {

}

.cover__description {

}

.cover__text {

}

.cover__button-bet {

}

.lots {

}

.lots__title {

}

.lots__cards {

}

.lots__card {

}

.about {

}

.logo_bright {

}

.about__title {

}

.about__text {

}

.footer_menu {

}

.social-list {

}

.social-list__youtube {

}

.social-list__vk {

}

.social-list__pinterest {

}
