/* Common styles */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  min-height: 100%;

  background-color: rgba(0, 0, 0, 0.6);
}

/* Header styles */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;

  min-height: 293px;

  padding: 0 50px;
}

.menu {
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.header__menu {
  display: flex;
  gap: 32px;

  list-style-type: circle;

  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.header__menu-item_first {
  list-style-type: none;
}

.header__logo_black {
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
}

.header__address {
  justify-self: end;

  max-width: 240px;
}

/* Cover styles */

.cover {
  position: relative;
  width: 1100px;
  min-height: 757px;

  padding: 165px 50px 50px;

  background-image: url(../images/cover.jpg);
  background-size: cover;

  z-index: -2;
}

.cover-title {
  display: flex;
  flex-direction: column;

  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 29px;
  text-transform: uppercase;

  color: white;
}

.cover-title__second-line {
  margin-top: 20px;
  margin-left: 331px;
}

.cover-title__third-line {
  margin-top: 20px;
  margin-left: 614px;
}

.cover__description {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 51px;
  margin-top: 106px;
}

.cover__subtitle {
  display: flex;
  justify-content: space-between;

  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: uppercase;
  word-spacing: 18px;

  color: white;
}

.cover__button-bet {
  width: 256px;
  height: 51px;

  border: 1px solid white;
  background-color: transparent;
  color: white;

  font-weight: 400;
  font-style: Regular;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

/* Lots styles */

.lots {
  margin: 180px 24px 0;
}

.lots__title {
  margin-left: 40px;

  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.lots__cards {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;

  margin-top: 27px;
  list-style-type: none;
}

.lots__card {
  width: 334px;
  min-height: 596px;

  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
}

.card-link {
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  position: relative;
  z-index: -2;

  height: 100%;
  padding: 48px 0;

  background-size: cover;
  background-position: center;

  color: white;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card-title {
  width: 254px;

  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
}

.card-text {
  width: 254px;
}

.lots__more {
  margin-top: 30px;
  margin-left: 40px;

  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

/* About styles */

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;

  min-height: 595px;
  margin: 120px 24px 0;
  padding-top: 35px;
}

.about__logo {
  display: flex;
  align-items: center;
  justify-content: center;

  align-self: start;
  justify-self: center;

  width: 240px;
  height: 240px;

  background-color: black;
  border-radius: 50%;
}

.logo_white {
  width: 148px;
  height: 114px;
}

.about__description {
  justify-self: center;

  margin-top: 105px;
  padding-left: 23px;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;

  margin-top: 103px;
  min-width: 693px;

  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

/* Footer styles */

.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: start;

  min-height: 180px;
  margin-top: 180px;
  padding: 0 50px;
}

.footer__address {
  max-width: 265px;
}

.footer_menu {
  min-width: 164px;

  list-style-type: none;
  text-align: center;

  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0%;
}

.social-list {
  display: flex;
  justify-content: space-between;
  justify-self: end;

  min-width: 240px;

  list-style-type: none;
}

.social-list__item {
  width: 48px;
  height: 48px;
}
